@model IEnumerable<CareManagement.Models.CRM.Asset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlateNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuiteNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuiteNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renter.RenterId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
