@model IEnumerable<CareManagement.Models.SCHDL.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="ignoreForPdf" asp-action="Create">Create New</a>
</p>
<p>
    <a class="ignoreForPdf" id="PrintInvoice" asp-action="">Print All Invoices</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Renter)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]">@Html.DisplayNameFor(model => model.StartDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]">@Html.DisplayNameFor(model => model.EndDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TotalHoursSortParm"]">@Html.DisplayNameFor(model => model.TotalHours)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TotalCostSortParm"]">@Html.DisplayNameFor(model => model.TotalCost)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DatePaidSortParm"]">@Html.DisplayNameFor(model => model.DatePaid)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IsSentSortParm"]">@Html.DisplayNameFor(model => model.IsSent)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DueDateSortParm"]">@Html.DisplayNameFor(model => model.DueDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Renter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $("#PrintInvoice").click(function () {
        $(".ignoreForPdf").hide();
                window.print();
        $(".ignoreForPdf").show();
            })
</script>
