@model IEnumerable<CareManagement.Models.CRM.Appliance>

@{
    ViewData["Title"] = "Index";
}

<h1>Appliances</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplianceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplianceBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplianceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplianceBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.AssetId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplianceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplianceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplianceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
