@model CareManagement.Models.SCHDL.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInvoiced)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInvoiced)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRepeating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRepeating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepeatStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepeatStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepeatEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepeatEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Renter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Renter.RenterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift.ShiftId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ScheduleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
