@model IEnumerable<CareManagement.Models.CRM.RenterService>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actual_Hours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renter.RenterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual_Hours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RenterServiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RenterServiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RenterServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
