@model IEnumerable<CareManagement.Models.SCHDL.Schedule>
@{
    ViewData["Title"] = "Report";
}

<h1>Report</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by renter: <input type="text" name="searchRenter" value="@ViewData["CurrentFilter"]" />
        </p>
        <p>
            Find by service: <input type="text" name="searchService" value="@ViewData["CurrentFilter"]" />
        </p>
        <p>
            Between: <input type="datetime-local" name="startTime" value="@ViewData["CurrentFilter"]" /> and
                     <input type="datetime-local" name="endTime" value="@ViewData["CurrentFilter"]" />
        </p>
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
</form>
<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renter.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Type)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
