@model CareManagement.Models.OM.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification.QualificationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SickDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SickDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHoursWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHoursWorked)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
